body{
    color: rgb(129, 127, 127);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenedor{
    display: flex;
    justify-content:space-between;
}

.info_contenedor{
    display:flex;
}

.contacto_contenedor{
    margin-left: 10px;
}

.titulo{
    font-size: 18px;
    margin-top: 6px;
   
}

.subtitulo{
margin: 4px;
}

.boton_libro{
    border: 2px solid gray;
    height: 35px;
    border-radius: 12px;
    background-color: white;
}

.boton_presupuesto{
    background-color: gray;
    color: white;
    border: none;
    height: 35px;
    border-radius: 12px;
}

.comentarios_contenedor{
    display: flex;
    align-items: center;
}

.marca{
    margin-left: 12px;
    padding: 12px;
    border-radius: 12px;
    color: black;
    background: gray;
}

.marca p{
    margin: 0;
}
